/** __Typography */
$lato: "Lato", sans-serif;

/** font-weight */
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-700: 700;

/** font-sizes */
$font-size-xxxl: 50px;
$font-size-xxl: 30px;
$font-size-xl: 20px;
$font-size-lg: 18px;
$font-size-md: 16px;
$font-size-sm: 14px;
$font-size-xs: 12px;