/** __Variables */
/** static-fonts */
$fa-font-path: "../static/webfonts";

/** Colors */
$white: #ffffff;
$light-gray: #d1d1d1;

$black: #000000;
$red-light: #f06f61;
$red-light-hover: #E74C3C;

$blue-light: #B2EBF2;
$blue-light-hover: #B3E5FC;


/** size */
$width-xs: 0;
$width-sm: 576px;
$width-md: 768px;
$width-lg: 992px;
$width-xl: 1200px;
$width-xxl: 1400px;
