/** __Variables */
/** static-fonts */
$fa-font-path: "../static/webfonts";

/** Colors */
$white: #ffffff;
$light-gray: #d1d1d1;

$black: #000000;
$red-light: #E74C3C; 
$blue-light: #85C1E9;

/** size */
$width-xs: 0;
$width-sm: 576px;
$width-md: 768px;
$width-lg: 992px;
$width-xl: 1200px;
$width-xxl: 1400px;
