/** Avatar */
.avatar {
    display: flex;

    /** Support Browsers */
    display: -webkit-box;
    display: -ms-flexbox;

    /** Breakpoints */
    @include breakpoint("Celular") {
        display: flex;
        justify-content: center;

        /** Support Browsers */
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        display: -webkit-box;
        display: -ms-flexbox;
    }

    &__img_avatar {
        border: 1px solid lightblue;
        border-radius: 50%;
        height: 6rem;
        margin: 0.75rem;
        width: 6rem;

        /** Support Browsers */
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;

        /** Breakpoints */
        @include breakpoint("Celular") {
            height: 4.5rem;
            width: 4.5rem;
        }
        @include breakpoint("Tablet") {
            height: 5rem;
            width: 5rem;
        }
    }

    &__text {
        display: flex;
        margin: 0.75rem;
        flex-direction: column;
        justify-content: center;

        /** Support Browsers */
        display: -webkit-box;
        display: -ms-flexbox;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;

        &__label_name {
            font-size: $font-size-xxl;
            font-weight: $font-weight-700;
            margin: 0.4rem 0.2rem 0.2rem 0.2rem;

            /** Breakpoints */
            @include breakpoint("Celular") {
                font-size: $font-size-xl;
            }
            @include breakpoint("Tablet") {
                font-size: $font-size-lg;
            }
        }

        &__label_follow {
            font-weight: $font-weight-400;
            margin: 0.4rem 0.2rem 0.2rem 0.7rem;
            opacity: 0.5;

            /** Breakpoints */
            @include breakpoint("Celular") {
                font-size: $font-size-xs;
            }
            @include breakpoint("Tablet") {
                font-size: $font-size-sm;
            }
        }
    }
}
