/** __Buttons */
.buttons {
    display: flex;

    /** Support Browsers */
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;

    @include breakpoint("Tablet") {
        flex-direction: column;
        align-items: flex-end;

        /** Support Browsers */
        -webkit-box-align: end;
        -ms-flex-align: end;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }

    &__btn-gigeoapp {
        color: $white;
        display: inline-block;
        font-weight: $font-weight-700;
        font-size: $font-size-md;
        line-height: 1.5;
        margin: 0.2rem;
        min-width: 8rem;
        padding: 0.6em 1em;
        text-decoration: none;
        text-align: center;
        vertical-align: middle;

        /** Breakpoints */
        @include breakpoint("Celular") {
            display: none;
        }
        @include breakpoint("Tablet") {
            font-size: $font-size-sm;
            max-width: 10rem;
        }
    }

    .btn-primary {
        @include btn-colors($blue-light, $blue-light-hover);
    }

    .btn-danger {
        @include btn-colors($red-light, $red-light-hover);
    }
}
