.card {
    &__container-image {
        width: 100%;
        img {
            width: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            height: 200px;
        }
    }
    &__title {
        font-weight: $font-weight-700;
        font-size: $font-size-xxl;
        margin: 0.5rem 0rem 0.5rem 0rem;
    }
    &__subtitle {
        opacity: 0.7;
        margin: 0.5rem 0rem 0.5rem 0rem;
    }
}
